.categories-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: large;
  }
  
  .categories-table th, .categories-table td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size:20px;
    text-align: center;
  }
  .categories-table td:first-child{
    text-align: left;
  }
  .categories-table td{
    text-align: center;
    font-size: xx-large;
  }
  
  .categories-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .categories-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .categories-table tr:hover {
    background-color: #e2e2e2;
    cursor: pointer;
  }
  
  .category-name, .category-total-courses, .category-completed-courses, .category-total-credits, .category-completed-credits {
    padding: 10px;
  }
  
  .categories-table td {
    margin-top: 10px;
    font-size: 20px;
  }
  
  /* Add red text for incomplete fields */
  .incomplete {
    color: rgb(228, 43, 43);
    font-weight: bolder;
  }
  